In [1]:
require 'narray'
require 'daru'
include Daru
nil

"if(window['d3'] === undefined ||\n   window['Nyaplot'] === undefined){\n    var path = {\"d3\":\"https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min\",\"downloadable\":\"http://cdn.rawgit.com/domitry/d3-downloadable/master/d3-downloadable\"};\n\n\n\n    var shim = {\"d3\":{\"exports\":\"d3\"},\"downloadable\":{\"exports\":\"downloadable\"}};\n\n    require.config({paths: path, shim:shim});\n\n\nrequire(['d3'], function(d3){window['d3']=d3;console.log('finished loading d3');require(['downloadable'], function(downloadable){window['downloadable']=downloadable;console.log('finished loading downloadable');\n\n\tvar script = d3.select(\"head\")\n\t    .append(\"script\")\n\t    .attr(\"src\", \"http://cdn.rawgit.com/domitry/Nyaplotjs/master/release/nyaplot.js\")\n\t    .attr(\"async\", true);\n\n\tscript[0][0].onload = script[0][0].onreadystatechange = function(){\n\n\n\t    var event = document.createEvent(\"HTMLEvents\");\n\t    event.initEvent(\"load_nyaplot\",false,false);\n\t    window.dispatchEvent(event);\n\t    console.log('Finished loading Nyaplotjs');\n\n\t};\n\n\n});});\n}\n"

In [2]:
df = DataFrame.from_csv('../data/20160701_co2.csv')
df.head

#<Daru::DataFrame(10x7)>
             timestamp     CO2raw       Temp   Pressure RelHumidit        co2 CO2_Cal_av
          0 7/1/2016 1        425      30.04      97695      47.13 311.769536 310.290801
          1 7/1/2016 1        423      30.07      97722      47.13 309.720607 310.493172
          2 7/1/2016 1        429      30.06      97729      47.13 315.626259 309.653494
          3 7/1/2016 1        429      30.06      97700      47.13 315.719945 311.996900
          4 7/1/2016 1        427      30.04      97678      47.13 313.802289 311.246631
          5 7/1/2016 1        422      30.06      97729      47.13 308.704690 311.489455
          6 7/1/2016 1        426      30.12      97724      46.94 312.706076 313.861553
          7 7/1/2016 1        429      30.12      97699      46.94 315.753978 310.779750
          8 7/1/2016 1        420      30.12      97681      46.94 306.906869 309.557761
          9 7/1/2016 1        424      30.13      97685      46.94 310.857019 311.899600

In [3]:
df.vectors = Index.new(df.vectors.map(&:to_sym))
df[:timestamp].map! do |t|
  DateTime.strptime(t, '%m/%d/%Y %H:%M:%S')
end
nil

In [4]:
df.head

#<Daru::DataFrame(10x7)>
             timestamp     CO2raw       Temp   Pressure RelHumidit        co2 CO2_Cal_av
          0 2016-07-01        425      30.04      97695      47.13 311.769536 310.290801
          1 2016-07-01        423      30.07      97722      47.13 309.720607 310.493172
          2 2016-07-01        429      30.06      97729      47.13 315.626259 309.653494
          3 2016-07-01        429      30.06      97700      47.13 315.719945 311.996900
          4 2016-07-01        427      30.04      97678      47.13 313.802289 311.246631
          5 2016-07-01        422      30.06      97729      47.13 308.704690 311.489455
          6 2016-07-01        426      30.12      97724      46.94 312.706076 313.861553
          7 2016-07-01        429      30.12      97699      46.94 315.753978 310.779750
          8 2016-07-01        420      30.12      97681      46.94 306.906869 309.557761
          9 2016-07-01        424      30.13      97685      46.94 310.857019 311.899600

In [5]:
df.write_csv('../data/co2.csv')